<!-- BOTTOM BAR -->

<div class="bottom tool-bg">
    <div class="myrow">

        <div>
            <p class="title">filename:</p>
            <p class="filename text-field">{{fileName || "No file..."}}</p>
        </div>

        <div>
            <p class="title">project:</p>
            <p class="filename text-field">{{projectName || "No project..."}}</p>
        </div>

        <div class="langs">
            <div class="title">LANGUAGES</div>
            <div class="mybtn min blue">
                <button disabled>from:</button>
            </div>
            <p class="text-field">{{(originLanguageObs | async | tittlecase)  || "none..." }}</p>
            <div class="mybtn min blue">
                <button (click)="onChooseLanguage()">to:   </button>
            </div>
            <p class="text-field">{{(toChangeLanguageObs | async | tittlecase)  || "none..." }}</p>
        </div>
        
        <div class="right"> 
            <div></div>
            <div class="mybtn">
                <button (click)="onSave()">SAVE</button>
            </div>
            <div class="mybtn red">
                <button (click)="onLeave()">PROJECTS</button>
            </div>
            <div class="mybtn red">
                <button (click)="onLogout()">LOGOUT</button>
            </div>
        </div>

    </div>
</div>


<!-- LEFT BAR -->

<div class="left tool-bg">
    
    <div class="identifier cont">
        <p class="title">IDENTIFIER:</p>
        <p class="text-field">{{(identifierObs | async | tittlecase)  || "none..." }}</p>
        <div class="mybtn full red">
            <button 
                (click)="removeIdentifier()"
                [disabled]="!(identifierObs | async)"
            >remove</button>
        </div>
        <div class="mybtn full">
            <button 
                (click)="addIndentifier()" 
                [disabled]="(identifierObs | async) || !(stringToTranslateObs | async)"
            >ADD</button>
        </div>
    </div>


    <textarea disabled >{{stringToTranslateObs | async}}</textarea>
    
    <div class="left-middle">
        <div></div>
        <div class="mybtn red">
            <button 
                (click)="onClearButton()"
                [disabled]="!(stringToTranslateObs | async)"
            >unselect</button>
        </div>
    </div>
    
    <textarea 
        [disabled]="!(identifierObs|async) || !(stringToTranslateObs|async) || (toChangeLanguageObs|async) === 'none'"
        [(ngModel)]="translationArea">
    </textarea>

    <div class="mybtn full">
        <button 
            (click)="onTranslate()" 
            [disabled]="!translationArea || !(toChangeLanguageObs | async)"
        >ADD TRANSLATION</button>
    </div>

    <div class="cont left-bottom">
        <div class="mybtn blue full">
            <button>lorem ipsum</button>
        </div>
        <div class="mybtn blue full">
            <button>ipsum</button>
        </div>
        <div class="mybtn blue full">
            <button>dolor</button>
        </div>
        <div class="mybtn blue full">
            <button (click)="autoIdentify()">auto identify</button>
        </div>
    </div>

</div>