:host {
    padding: 0 5em;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

:host > div {
    justify-self: center;
}

button {
    padding: .3em 1em;
    background-color: #2b2f33;
    border: 2px solid #2b2f33;
    border-radius: .5em;

    color: #fff;

    transition: .15s ease;
}

button:hover {
    background-color: #8f9caa;
    color: #2b2f33;
}

.file-input-container {
    display: none;
}

.filename {
    background-color: #7fcef4;
    padding: 0.3em;
    border-radius: 0.5em;
    justify-self: flex-start!important;
    display: flex;
    width: 100%;
    margin: 0;
}

.file-upload {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

