<form 
    class="form one"
    [formGroup]="forgotPasswordForm" 
    (ngSubmit)="onSubmit()" 
    (keyup.escape)="forgotPasswordForm.reset()"
> 

    <h1>Restore password</h1>

    <div>
        <label>Email</label>
        <input type="email" formControlName="email" autocomplete="off">
    </div>

    <button [disabled]="forgotPasswordForm.invalid">Send</button>

    <button type="button" [routerLink]="['/login']">back</button>
    
    <p class="message red" *ngIf="errorMsg">{{errorMsg}}</p>
    <p class="message" *ngIf="message">{{message}}</p>

</form>
