<form 
    class="form one mycontainer"
    [formGroup]="registerForm" 
    (ngSubmit)="onSubmit()" 
    (keyup.escape)="registerForm.reset()"
> 

    <h1>Register form</h1>

    <div>
        <label>Email</label>
        <input type="email" formControlName="email" autocomplete="off">
    </div>

    <div>
        <label>Email repeat</label>
        <input type="email" formControlName="confirmEmail" autocomplete="off">
    </div>

    <div>
        <label>Password</label>
        <input type="password" formControlName="password" autocomplete="off">
    </div>

    <div>
        <label>Password repeat</label>
        <input type="password" formControlName="confirmPassword" autocomplete="off">
    </div>

    <div class="mybtn full">
        <button [disabled]="registerForm.invalid">Register</button>
    </div>
    
    <div class="mybtn full">
        <button type="button" [routerLink]="['/login']">back</button>
    </div>
        

    <p class="message red" *ngIf="errorMsg">{{errorMsg}}</p>
    <p class="message" *ngIf="message">{{message}}</p>
</form>
