<app-tool 
    #tool
    (autoIdentifyEvent)="template.autoIdentify()"
    (saveTemplateEvent)="template.saveTemplate()"
    (unselectEvent)="template.unselect()"
    (removeIdentifierEvent)="template.removeIdentifier()"
    (generateEvent)="template.generateTemplate()"
    (openManualEvent)="openManual()"
    [originTexts]="originTexts"
></app-tool>

<app-template
    #template
    class="template-component"
    (identifier)="tool.identifier=$event"
    (originTexts)="originTexts=$event"
    (translateToTexts)="tool.translateToTexts=$event"
    (mousemove)="template.onMousemove($event.target)"
    (click)="$event.preventDefault()"
></app-template>

<app-manual *ngIf="manualActive"></app-manual>
