
<div class="mycontainer">

    <h3>SELECT PROJECT:</h3>

    <div class="projects">

        <div class="myrow head">
            <p>PROJECT:</p>
            <p>FILENAME:</p>
            <p>CSS:</p>
            <p>ORIGIN LANGUAGE:</p>
            <p>MODIFIED:</p>
            <p>TIME:</p>
        </div>

        <div class="myrow" *ngFor="let project of userProjectsObs | async">
            <p>{{project.name}}</p>
            <p>{{project.filename}}</p>

            <div *ngIf="project.cssName" class="cssButtons">
                <div class="mybtn center trans">
                    <button (click)="onAddCss(project)">{{project.cssName}}</button>
                </div>
                <div class="mybtn center red">
                    <button (click)="onDelCss(project)">del</button>
                </div>
            </div>

            <div class="mybtn center w50" *ngIf="!project.cssName">
                <button (click)="onAddCss(project)">add</button>
            </div>

            <p>{{project.originLanguage}}</p>
            <p>{{project.modified.split(' ').shift()}}</p>
            <p>{{project.modified.split(' ').pop()}}</p>
            <div class="mybtn center">
                <button (click)="onSetProject(project)">SELECT</button>
            </div>
            <div class="mybtn center red">
                <button (click)="onDelete(project)">delete</button>
            </div>
        </div>

    </div>


    <div *ngIf="(userProjectsObs | async)?.length === 0 && !inputOpen" class="no-projects">
        To start first project press ADD NEW PROJECT and select your html template file.
    </div>

    
    <div *ngIf="inputOpen" class="add-project-container">

        <div class="add-project">
            <div>
                <label>file name:</label>
                <p class="myinput" disabled>{{filenameAdding || "Choose file ..."}}</p>
            </div>
            
            <div>
                <label>css file (optional):</label>
                <div class="file-input-container">
                    <p class="myinput">{{cssFilenameAdding || "Choose file ..."}}</p>
                    <input type="file" class="myinput" (change)="onCssFileSelected($event)" >
                </div>
            </div>
            <div>
                <label>project name:</label>
                <input type="text" placeholder="set project name..." [(ngModel)]="input">
            </div>
            <div>
                <label>origin language:</label>
                <select #languageRef>
                    <option disabled>Select Language</option>
                    <option *ngFor="let l of languages" value="{{l}}">{{l}}</option>
                </select>
            </div>
        </div>

        <ul>
            <li>Select CSS file if your template <br>does not contain inline them</li>
            <li>Enter a project name</li>
            <li>Select the original language <br>of the template</li>
            <li>Add a project to the list</li>
        </ul>        

    </div>
    
    <div class="mybtn center" *ngIf="inputOpen">
        <button (click)="onAddNewProject()" [disabled]="!input">ADD PROJECT</button>
    </div>

    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>


    <div class="buttons">
        
        <div class="mybtn center">
            <button 
            (click)="inputOpen ? rejectAddingProject() : fileUpload.click()" 
            [innerHTML]="inputOpen ? 'REJECT' : 'ADD NEW PROJECT'"
            ></button>
        </div>
    
        <div class="mybtn center">
            <button (click)="logout()">LOGOUT</button>
        </div>
    
        <div class="mybtn center red">
            <button (click)="deleteAccount()">delete account</button>
        </div>

    </div>

</div>
