.htt-mycontainer {
    margin: 10vh auto 0;
    max-width: 80vw;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #1a73e8;
}

.htt-projects {
    border: 1px solid #0000001f;
    border-radius: 6px;
    box-shadow: 0 -1px 0 rgb(0 0 0 / 12%) inset;
}

.htt-projects .htt-myrow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr .5fr;
    min-height: 45px;
    align-items: center;
}


.htt-projects .htt-myrow.head {
    font-weight: bold;
}

.htt-projects .htt-myrow button {
    width: 100%;
    margin: 0 10px;
}

.htt-projects .htt-myrow > * {
    text-align: center;
}

.htt-projects .htt-myrow:nth-child(even) {
    background-color: #e8e8e8;
}

.htt-mycontainer > .htt-mybtn {
    margin-top: 20px;
}

.htt-mycontainer > .htt-mybtn button {
    min-width: 200px;
}

.htt-add-project-container {
    margin: 50px auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.htt-add-project {
    max-width: 300px;
}

.htt-add-project > div {
    display: grid;
    margin-top: 20px;
}

.htt-add-project label {
    padding-left: 10px;
}

.htt-add-project input {
    min-width: 300px;
}

.htt-file-input-container {
    position: relative;
    cursor: pointer;
}

.htt-file-input-container > input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.htt-file-input {
    opacity: 0;
    height: 0;
    width: 0;
    padding: 0;
    min-height: 0;
}

.htt-myinput {
    line-height: 40px;
}

.w50 {
    padding: 0 20%;
}

.htt-add-project-container > ul {
    font-size: 1.1em;
    list-style: disc;
}

.htt-add-project-container > ul > li {
    list-style: disc;
    margin-top: 20px;
}

.htt-buttons {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.htt-cssButtons {
    display: grid;
    grid-template-columns: 6fr 1fr;
}

.htt-cssButtons button {
    margin: 0 2px!important;
}

.htt-no-projects {
    text-align: center;
    margin: 0 auto;
    max-width: 60%;
    font-size: 1.3em;
    padding-top: 30px;
}