<form 
    class="htt one htt-mycontainer"
    [formGroup]="loginForm" 
    (ngSubmit)="onSubmit()" 
    (keyup.escape)="loginForm.reset()"
> 

    <h1>Login form</h1>

    <div>
        <label>Email</label>
        <input class="htt-myinput" type="email" formControlName="email">
    </div>

    <div>
        <label>Password</label>
        <input class="htt-myinput" type="text" formControlName="password">
    </div>

    <div class="htt-mybtn full">
        <button [disabled]="loginForm.invalid">Login</button>
    </div>

    <div class="htt-mybtn full">
        <button type="button" [routerLink]="['/register']">Register</button>
    </div>

    <div class="htt-mybtn full">
        <button type="button" class="htt-card" (click)="googleLogin()">
            <img class="htt" src="../../../assets/img/icon-google.png" alt="icon google">
            <p>Login with Google</p>
        </button>
    </div>

    <p class="htt-message red" *ngIf="errorMsg">{{errorMsg}}</p>
    <p class="htt-message" *ngIf="message">{{message}}</p>
</form>
