<form 
    class="form one mycontainer"
    [formGroup]="loginForm" 
    (ngSubmit)="onSubmit()" 
    (keyup.escape)="loginForm.reset()"
> 

    <h1>Login form</h1>

    <div>
        <label>Email</label>
        <input type="email" formControlName="email">
    </div>

    <div>
        <label>Password</label>
        <input type="text" formControlName="password">
    </div>

    <div class="mybtn full">
        <button [disabled]="loginForm.invalid">Login</button>
    </div>

    <div class="mybtn full">
        <button type="button" [routerLink]="['/register']">Register</button>
    </div>

    <div class="mybtn full">
        <button type="button" class="card" (click)="googleLogin()">
            <img src="../../../assets/img/icon-google.png" alt="icon google">
            <p>Login with Google</p>
        </button>
    </div>

    <p class="message red" *ngIf="errorMsg">{{errorMsg}}</p>
    <p class="message" *ngIf="message">{{message}}</p>
</form>
