:host {
    border: 3px solid rgb(167, 167, 167);
    background-color: #fff;
}

.no-content {
    font-size: 40px;
    font-weight: bold;
    color: #0073aa;
    padding-top: 10vh;
    text-align: center;
}

.content p {
    transition: .1s ease;
}

.content > div:hover {
    color: red;
}
