:host div {
    width: 100%;
    height: 100%;
}

.no-content {
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: bold;
    color: #0073aa;
    padding-top: 10vh;
    text-align: center;
}

.no-content h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

header,
.fixed {
    position: absolute !important;
}