
<app-tool 
    [identifier]="identifier"
    [originTexts]="originTexts"
    [translateToTexts]="translateToTexts"
    (autoIdentifyEvent)="autoIdentify()"
    (saveTemplateEvent)="saveTemplate()"
    (unselectEvent)="unselect()"
    (removeIdentifierEvent)="removeIdentifier()"
    (generateEvent)="generateTemplate()"
    (translateTemplateEvent)="translateTemplate()"
></app-tool>

<div 
    class="content"
    (mousemove)="onMousemove($event.target)"
    [innerHTML]="templateTxt"
    #contentReference
></div>