:host {
    z-index: 100;
    min-width: 300px;
    max-width: 500px;
    min-height: 500px;
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%) scale(0);

    padding: 2em 2em;
    background-color: #0e1115;
    border-radius: 1em;
    border: 2px solid #2b2f33;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: .5em;
    font-size: 18px;
}

:host div {
    width: 100%;
}

h1 {
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
}

button {
    width: 100%;
    background-color: #447187;
    border: 2px solid #447187;
    border-radius: .5em;
    color: #fff;
    line-height: 3em;
    transition: .15s ease;
}

button.close {
    background-color: #0073aa;
    border: 2px solid #0073aa;
}

button.close:hover,
button:hover {
    background-color: transparent;
}



input {
    width: 100%;
    height: 5em;
    background-color: #7fcef4;
    border: none;
    outline: none !important;
    border-radius: .5em;
    color: #fff;
    line-height: 3em;
    transition: .15s ease;
    padding: 0 1em;
    color: #000;
}
    














:host.open {
    animation: open-animation .2s ease-in-out forwards;
}

:host.open.close {
    animation: close-animation .2s ease-in-out forwards;
}

@keyframes open-animation {
    from {
        transform: translateX(-50%) scale(0);
    } to {
        transform: translateX(-50%) scale(1);
    }
}

@keyframes close-animation {
    from {
        transform: translateX(-50%) scale(1);
    } to {
        transform: translateX(-50%) scale(0);
    }
}